- require("bootstrap/less/bootstrap.less");
- require("bootstrap/js/dropdown.js");
- require("bootstrap/js/button.js");
- require("bootstrap/js/collapse.js");
- require("bootstrap/js/tab.js");
nav.navbar.navbar-default.navbar-top
	.container
		.navbar-header
			a.navbar-brand(href="#") webpack
			ul.nav.navbar-nav
				li: a(href="#").buttons.button-home Home
				li: a(href="#").buttons.button-test1 Test1
				li: a(href="#").buttons.button-test2 Test2
				li: a(href="#").buttons.button-test3 Test3
.container
	.row
		.col-md-8
			.page-header
				h1
					| webpack
					small  example app
			p Click the navigation items in the top bar to change right content.
			p The javascript for the different contents is loaded on demand by the webpack <em>require.ensure</em> method.
			p Watch the outgoing requests in your browsers dev tools.
			h2 source
			- var gh = "http://github.com/webpack/";
			- var sourceExample = gh+"example-app/"
			- var sourceWebpack = gh+"webpack/"
			p: a(href=sourceExample)
				b
					| example-app on github
			p: a(href=sourceWebpack)
				b
					| webpack on github
			h2 Choosen sources
			#choosen-sources!= require("./loading.jade")()
		.col-md-4
			.page-header
				h1 status
					small  loaded chunks
			ul.chunks
				li!= require("./chunk.jade")({chunk: 0})
			if module.hot
				.page-header
					h1 HMR
						small  hot module replacement
				p
					b Status:
					= " "
					span.hot-status idle
				p.hot-result
				button.btn.btn-default.hot-check Check for update
				button.btn.btn-default.hot-apply Apply update
				label.checkbox
					input.hot-strategy(type="checkbox", checked=true)
					|  Replace current page
			.page-header
				h1 content
					small  some test content
			.content