- require("mybootstrap");
- require("./body.css");
- var i18n = require("i18n!./nls/body.json");
.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href="#") webpack
			.nav-collapse
				ul.nav
					li: a(href="#").buttons.button-home= i18n.nav.home
					li: a(href="#").buttons.button-test1= i18n.nav.test1
					li: a(href="#").buttons.button-test2= i18n.nav.test2
					li: a(href="#").buttons.button-test3= i18n.nav.test3
.container
	.row
		.span8
			.page-header
				h1
					| webpack
					small  example web app
			!= require("i18n/choose!jade!./nls/body-info.jade").call();
			= "Locales: " + require("i18n/concat!./nls/locale.js").locales.join(" + ");
			h2 source
			- var gh = "http://github.com/webpack/";
			- var sourceExample = gh+"example-app/"
			- var sourceWebpack = gh+"webpack/"
			p: a(href=sourceExample)
				b 
					| example-app
					= " " + i18n.ongithub
			p: a(href=sourceWebpack)
				b 
					| webpack
					= " " + i18n.ongithub
			h2= i18n.choosenSources
			#choosen-sources!= require("./loading.jade")();
		.span4
			.page-header
				h1
					= i18n.status
					small= " " + i18n.loadedChunks
			ul.chunks
				li!= require("./chunk.jade")({chunk: 0});
			.page-header
				h1
					= i18n.content
					small= " " + i18n.contentDetail
			.content